<a class="panel-block">
    <div class="column">{{name}}</div>
    <div class="column">
        <span class="panel-icon add-icon is-pulled-right">
            <i class="fas fa-plus" aria-hidden="true" data-id="{{id}}" data-name="{{name}}"></i>
        </span>
        <span class="panel-icon is-pulled-right">
            <i class="fas fa-trash-alt" aria-hidden="true" data-id="{{id}}" data-type="{{type}}"></i>
        </span>
        <span class="panel-icon is-pulled-right">
            <i class="fas fa-user-edit" aria-hidden="true" data-id="{{id}}"></i>
        </span>
    </div>
</a>